[flake8]
exclude = .git,.tox,__pycache__,kasa/tests/newfakes.py,kasa/tests/test_fixtures.py
max-line-length = 88
per-file-ignores =
  kasa/tests/*.py:D100,D101,D102,D103,D104,F401
  docs/source/conf.py:D100,D103
ignore = D105, D107, E203, E501, W503
max-complexity = 18
