repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-docstring-first
  - id: check-yaml
  - id: debug-statements
  - id: check-ast

- repo: https://github.com/asottile/pyupgrade
  rev: v2.19.4
  hooks:
  - id: pyupgrade
    args: ['--py36-plus']

- repo: https://github.com/python/black
  rev: 21.6b0
  hooks:
  - id: black

- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    additional_dependencies: [flake8-docstrings]

- repo: https://github.com/pre-commit/mirrors-isort
  rev: v5.8.0
  hooks:
  - id: isort
    additional_dependencies: [toml]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.902
  hooks:
  - id: mypy
    additional_dependencies: [types-click]
