repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-docstring-first
  - id: check-yaml
  - id: debug-statements
  - id: check-ast

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.3
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.3.0
  hooks:
  - id: mypy
    additional_dependencies: [types-click]

- repo: https://github.com/PyCQA/doc8
  rev: 'v1.1.1'
  hooks:
  - id: doc8
    additional_dependencies: [tomli]

- repo: local
  hooks:
  - id: generate-supported
    name: Generate supported devices
    description: This hook generates the supported device sections of README.md and SUPPORTED.md
    entry: generate-supported
    language: system # Required or pre-commit creates a new venv
    verbose: false # Show output on success
    types: [json]
    pass_filenames: false # passing filenames causes the hook to run in batches against all-files
