trigger:
- master
pr:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    # Python36:
    #   python.version: '3.6'
    Python37:
      python.version: '3.7'
   # Python38:
   #   python.version: '3.8'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install -r requirements_test.txt
  displayName: 'Install dependencies'

- script: |
    pre-commit run black --all-files
  displayName: 'Code formating (black)'

- script: |
    pre-commit run flake8 --all-files
  displayName: 'Code formating (flake8)'

- script: |
    pre-commit run mypy --all-files
  displayName: 'Typing checks (mypy)'

- script: |
    pre-commit run isort --all-files
  displayName: 'Order of imports (isort)'

- script: |
    pre-commit run trailing-whitespace --all-files
  displayName: 'Run trailing-whitespace'

- script: |
    pre-commit run end-of-file-fixer --all-files
  displayName: 'Run end-of-file-fixer'

- script: |
    pre-commit run check-docstring-first --all-files
  displayName: 'Run check-docstring-first'

- script: |
    pre-commit run check-yaml --all-files
  displayName: 'Run check-yaml'

- script: |
    pre-commit run debug-statements --all-files
  displayName: 'Run debug-statements'

- script: |
    pre-commit run check-ast --all-files
  displayName: 'Run check-ast'

- script: |
    pre-commit run isort --all-files
  displayName: 'Order of imports (isort)'

- script: |
    pytest --cov kasa --cov-report xml
  displayName: 'Tests'

- script: |
    codecov -t $(codecov.token)
  displayName: Report Coverage to codecov
