name: Publish packages
on:
  release:
    types: [published]

env:
  UV_VERSION: 0.4.16
  PYTHON_VERSION: 3.12

jobs:
  build-n-publish:
    name: Build release packages
    runs-on: ubuntu-latest
    permissions:  # for trusted publishing
      id-token: write

    steps:
    - name: Checkout source files
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v2

    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Build a binary wheel and a source tarball
      run: uv build

    - name: Publish release on pypi
      uses: pypa/gh-action-pypi-publish@release/v1
