---
name: Publish Packages

on:
  release:
    types: [published]

env:
  UV_VERSION: 0.9.16
  PYTHON_VERSION: 3.13

jobs:
  build-n-publish:
    name: Build Release Packages
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout Source Files
      id: checkout
      uses: actions/checkout@v6

    - name: Setup uv
      id: setup-uv
      uses: astral-sh/setup-uv@v7

    - name: Setup Python
      id: setup-python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Build Packages
      id: build-packages
      shell: bash
      run: uv build

    - name: Publish Release on PyPI
      id: publish-release-on-pypi
      uses: pypa/gh-action-pypi-publish@release/v1
